<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Tous Produits</h4>
            <p class="card-category">Une liste des produits mit en vente</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-danger">
                  <th>Image</th>
                  <th>Nom</th>
                  <th>Date</th>
                  <th>Ville</th>
                  <th>Prix</th>
                </thead>
                <tbody>
                  <tr v-for="produit in Produits" v-bind:key="produit.id">
                    <td>
                      <router-link :to="{name: 'produit' , params:{id: produit.id}}" class="link">
                        <img
                          src="https://via.placeholder.com/150"
                          alt="..."
                          height="100px"
                          width="200px"
                        >
                      </router-link>
                    </td>
                    <td class="td-name">
                      <router-link :to="{name: 'produit' , params:{id: produit.id}}" class="link">
                        {{produit.title}}
                        <br>
                        <small>{{produit.category.nom}}</small>
                      </router-link>
                    </td>
                    <td>
                      <router-link :to="{name: 'produit' , params:{id: produit.id}}" class="link">
                        {{produit.created_at}}
                        <br>
                        {{produit.time}}
                      </router-link>
                    </td>
                    <td>
                      <router-link
                        :to="{name: 'produit' , params:{id: produit.id}}"
                        class="link"
                      >{{produit.ville.nom}}</router-link>
                    </td>
                    <td class="text-primary">
                      <router-link :to="{name: 'produit' , params:{id: produit.id}}" class="link">
                        <p class="text-primary">{{produit.prix}} DH</p>
                      </router-link>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Produit from "./Produit.vue";
import axios from "axios";
import { parse } from "path";
export default {
  name: "Produits",
  components: {
    Produit
  },
  data() {
    return {
      Produits: []
    };
  },
  methods: {},
  mounted() {
    axios
      .get("http://localhost:3000/produit")
      .then(res => {
        this.Produits = JSON.parse(JSON.stringify(res.data));
        console.log(JSON.parse(JSON.stringify(res.data)));
      })
      .catch(err => console.log(err));
  }
};
</script>

<style>
.display {
  display: flex;
  justify-content: space-between;
}
.left {
  display: flex;
}
.temps {
  margin-right: 10px;
  margin-top: 50px;
  text-decoration: none;
}
.image {
  margin-right: 10px;
}
.info {
  margin-left: 5px;
  margin-top: 50px;
}
.right {
  margin-top: 50px;
}
li a {
  text-decoration: none;
}
</style>
