<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-chart">
          <img
            class="card-img-top"
            src="https://via.placeholder.com/150"
            alt="Card image cap"
            height="200px"
          >
          <div class="card-body">
            <h3 class="card-title">{{product.title}}</h3><br/>
            <h3 class="card-category">{{product.category.nom}} , {{product.ville.nom}}</h3><br/>
            <h5 class="card-text">{{product.prix}}DH</h5>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i>
              posted {{product.created_at}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "Produit",
  data() {
    return {
      product: {
        //   id: "1",
        //   nom: "Produit 1",
        //   date: new Date().toLocaleDateString(),
        //   time: new Date().toLocaleTimeString(),
        //   categorie: "oridnateurs",
        //   ville: "mohammedia",
        //   prix: "100000DH",
        //   image: "https://via.placeholder.com/150/92c952"
      }
    };
  },
  mounted() {
    axios
      .get("http://localhost:3000/produit/" + this.$route.params.id)
      .then(res => {
        this.product = JSON.parse(JSON.stringify(res.data));
        console.log(JSON.parse(JSON.stringify(res.data)));
      })
      .catch(err => console.log(err));
  }
};
</script>

<style>
</style>
