<template>
  <div>
        <div class="col-md-12">
          <h1>1er Site d'annonces gratuites au Maroc</h1>
          <h3>Trouver la bonne affaire</h3>
        
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Que recherchez-vous ?" v-model="recherche">
          </div>
          <div class="col-md-4">
            <select class="custom-select" v-model="categorieSelected">
                <option v-for="cat in categorie" v-bind:key="cat.id" v-bind:value="cat.nom">
                    {{cat.nom}}
                </option>
            </select>
          </div>
          <div class="col-md-3">
              <select class="custom-select" v-model="villeSelected">
                <option v-for="ville in villes" v-bind:key="ville.id" v-bind:value="ville.nom">
                    {{ville.nom}}
                </option>
            </select>
          </div>
          <div class="col-md-1">
            <!-- <router-link :to="{name: 'search' , query:{name: search.recherche,cat:search.categorie,city: search.ville}}" class="link"> -->
              <button type="button" class="btn btn-primary" v-on:click="Search()"><i class="fa fa-search"></i>
              
              </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Barre",
  data() {
    return {
        recherche : '',
      categorie: [
          {
              id : 1,
              nom : 'Informatique'
          },
          {
              id : 2,
              nom : 'Immobilier'
          },
          {
            id : 3,
            nom : "Vehicules"
          }
      ],
      categorieSelected : '',
      villes : [
          {
              id : 1,
              nom : 'Mohammedia'
          },
          {
              id : 2,
              nom : 'Casablanca'
          },
          {
            id : 3,
            nom : "Kenitra"
          }
      ],
      villeSelected : '',
      search : {
          recherche : '',
          categorie : '',
          ville : ''
      }
    };
  },
  methods : {
      Search() {
        if(this.recherche == '' || this.categorieSelected == '' || this.villeSelected == ''){
         
          alert("Entrer les parametres de Recherche");
        }
        else {
          this.search.recherche = this.recherche;
          this.search.categorie = this.categorieSelected;
          this.search.ville = this.villeSelected;
          console.log(JSON.parse(JSON.stringify(this.search)));
          this.$router.push({ name: 'search' , query:{name: this.search.recherche,cat: this.search.categorie,city: this.search.ville}})
        }
          
      }
  }
};
</script>

<style>
</style>
