<template>
  <!-- <div class="card">
    <img class="card-img-top" src="https://via.placeholder.com/150" width="150px" height="150px" alt>
    <div class="card-body">
      <h4 class="card-title">{{categorie.nom}}</h4>
    </div>
  </div> -->
  <div >
 
      <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
                <i class="material-icons">content_copy</i>
            </div>
            <p class="card-category">Categorie : </p>
            <h2 class="card-title">{{categorie.nom}}</h2>
          </div>
          <div class="card-footer">
              
          </div>
      
  </div>
  </div>

</template>

<script>
export default {
  name: "Categorie",
  props: ["categorie"]
};
</script>

<style>
</style>