<template>
  <div class="mydiv">
    <div v-for="categorie in categories" v-bind:key="categorie.id" class="cat">
      <router-link :to="{name: 'categorie',params: {id:categorie.id}, query: {name: categorie.nom}}">
        <Categorie :categorie="categorie"/>
      </router-link>
    </div>
  </div>
</template>

<script>
import Categorie from "./Categorie.vue";
export default {
  name: "Categories",
  props: ["categories"],
  components: {
    Categorie
  }
};
</script>

<style>
/* .mydiv {
  display: flex;
} */
/* .cat {
  padding: 20px;
} */
</style>
