<template>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Choisissez une ville</h3>
        <Villes/>
      </div>

      <div class="col-md-8">
        <h3>Choisissez une categorie</h3>
        <div class="container">
              <Categories :categories="categories" />
           
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Villes from "./Villes.vue";
import Categories from "./Categories.vue";
export default {
  name: "Content",
  components: {
    Villes,
    Categories
  },
  data() {
    return {
      categories: [
        {
          id: 1,
          nom: "Informatique"
        },
        {
          id: 2,
          nom: "Immobilier"
        },
        {
          id : 3,
          nom : "Vehicules"
        }
      ]
    };
  }
};
</script>

<style>
</style>
