<template>
  <div>
    
        <ul class="list-group" v-for="ville in villes" v-bind:key="ville.id">
            <Ville :ville="ville"/>
        </ul>
      
    
  </div>
</template>

<script>
import Ville from "./Ville.vue";
export default {
  name: "Villes",
  components: {
    Ville
  },
  data() {
    return {
      villes: [
        {
          id: 1,
          nom: "Mohammedia"
        },
        {
            id : 2,
            nom : "Casablanca"
        },
        {
          id : 3,
          nom : "Kenitra"
        }
      ]
    };
  }
};
</script>

<style>
</style>
