<template>
  <li class="list-group-item">
    <router-link :to="{name: 'ville',params : { id:ville.id},query: {name : ville.nom} }">{{ville.nom}}</router-link>
  </li>
</template>

<script>
export default {
  name: "Ville",
  props: ["ville"]
};
</script>

<style>
</style>
