<template>
  <div class="wrapper">
    <div class="sidebar" data-color="purple" data-background-color="black">
      <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
      -->
      <div class="logo">
        <a class="simple-text logo-normal">Bonjour <i class="material-icons" @click="logout">cancel</i></a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active">
            <router-link to="/dashboard" class="nav-link">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </router-link>
          </li>
          <li class="nav-item">
            <router-link to="/nouveau" class="nav-link">
              <i class="material-icons">fiber_new</i>
              <p>Nouveau Produit</p>
            </router-link>
          </li>
          <li class="nav-item">
            <router-link to="/list" class="nav-link">
              <i class="material-icons">list</i>
              <p>Liste Produits</p>
            </router-link>
          </li>

          <!-- your sidebar here -->
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="alert alert-info" role="alert">Bonjour {{email}}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Dashboard",
  data() {
    return {
      email: "",
      id: ""
    };
  },
  methods : {
    logout(){
      localStorage.removeItem('Item');
      this.$router.push('login');
    }
  },
  mounted() {
    if (localStorage.getItem("Item") === null) {
      this.$router.push("/login");
    } else {
      this.email = JSON.parse(localStorage.getItem("Item")).email;
    }
  }
};
</script>

<style>
</style>