<template>
  <div class="wrapper">
    <div class="sidebar" data-color="purple" data-background-color="black">
      <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
      -->
      <div class="logo">
        <a href class="simple-text logo-normal">Bonjour  <i class="material-icons" @click="logout">cancel</i></a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item">
            <router-link to="/dashboard" class="nav-link">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </router-link>
          </li>
          <li class="nav-item">
            <router-link to="/nouveau" class="nav-link">
              <i class="material-icons">fiber_new</i>
              <p>Nouveau Produit</p>
            </router-link>
          </li>
          <li class="nav-item active">
            <router-link to="/list" class="nav-link">
              <i class="material-icons">list</i>
              <p>Liste Produits</p>
            </router-link>
          </li>

          <!-- your sidebar here -->
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Mes Produits</h4>
                  <p class="card-category">Une liste des produits que j'ai mis en vente</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="text-primary">
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Categorie</th>
                        <th>Ville</th>
                        <th>Action</th>
                      </thead>
                      <tbody>
                        <tr v-for="produit in produits" v-bind:key="produit.id">
                          <td>{{produit.title}}</td>
                          <td>{{produit.prix}} DH</td>
                          <td>{{produit.category.nom}}</td>
                          <td>{{produit.ville.nom}}</td>
                          <td>
                            
                              <button type="button" class="btn btn-danger btn-sm" @click="edit(produit.id)">Edit</button>
                            
                            <button
                              type="button"
                              class="btn btn-warning btn-sm"
                              @click="supprimer(produit.id)"
                            >Delete</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "Liste",
  data() {
    return {
      produits: []
    };
  },
  methods: {
    supprimer(id) {
      axios
        .delete("http://localhost:3000/produit/" + id)
        .then(res => console.log(res))
        .catch(err => console.log(err));
      this.$router.go();
    },
    edit(id){
        this.$router.push('/edit/'+id);
    },
    logout(){
      localStorage.removeItem('Item');
      this.$router.push('login');
    }
  },
  mounted() {
      if (localStorage.getItem("Item") === null) {
      this.$router.push("/login");
    }
    axios
      .get("http://localhost:3000/produit")
      .then(res => {
        let tmp = JSON.parse(JSON.stringify(res.data));
        //console.log(JSON.parse(localStorage.getItem("Item")).id);
        this.produits = tmp.filter(
          item => item.user_id === JSON.parse(localStorage.getItem("Item")).id
        );
      })
      .catch(err => console.log(err));
  }
};
</script>

<style>
</style>
