<template>
  <div class="page-header header-filter img-back">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <div class="card card-login">
            <form class="form" v-on:submit.prevent>
              <div class="card-header card-header-primary text-center">
                <h4 class="card-title">Login</h4>
              </div>
              <div class="card-body">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">mail</i>
                    </span>
                  </div>
                  <input type="email" class="form-control" placeholder="Email..." v-model="email">
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Password..."
                    v-model="password"
                  >
                </div>
              </div>
              <div class="card-footer">
                <div class="clearfix"></div>
                <button class="btn btn-primary" @click="login">Log in</button>
                <div class="clearfix"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "Login",
  data() {
    return {
      email: "",
      password: "",
      error: ""
    };
  },
  methods: {
    login() {
      let user = {
        user: {
          email: this.email,
          password: this.password
        }
      };
      axios
        .post("http://localhost:3000/login", user)
        .then(res => {
          //console.log(res.data);
          let item = {
            token: res.data.token,
            email: res.data.resource.email,
            id: res.data.resource.id
          };
          localStorage.setItem("Item", JSON.stringify(item));

          this.$router.push("/dashboard");
        })
        .catch(err => {
          alert("Probleme dans l'auth");
          console.log(err)});
      console.log("Auth :");
      console.log(JSON.parse(localStorage.getItem("Item")));
    }
  }
};
</script>

<style>
.img-back {
  background-image: url("~@/assets/bg7.jpg");
}
</style>
