<template>
  <div class="wrapper">
    <div class="sidebar" data-color="purple" data-background-color="black">
      <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
      -->
      <div class="logo">
        <a href class="simple-text logo-normal">Bonjour  <i class="material-icons" @click="logout">cancel</i></a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item">
            <router-link to="/dashboard" class="nav-link">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </router-link>
          </li>
          <li class="nav-item active">
            <router-link to="/nouveau" class="nav-link">
              <i class="material-icons">fiber_new</i>
              <p>Nouveau Produit</p>
            </router-link>
          </li>
          <li class="nav-item">
            <router-link to="/list" class="nav-link">
              <i class="material-icons">list</i>
              <p>Liste Produits</p>
            </router-link>
          </li>

          <!-- your sidebar here -->
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Nouveau Produit</h4>
                  <p class="card-category">Metter votre produit en vente</p>
                </div>
                <div class="card-body">
                  <form v-on:submit.prevent>
                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">Nom Produit</label>
                          <input type="text" class="form-control" v-model="title">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Prix</label>
                          <input type="number" class="form-control" v-model="prix">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-10">
                        <div class="form-group">
                          <label class="bmd-label-floating">Description</label>
                          <input type="textarea" class="form-control" v-model="description">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleFormControlSelect1">Ville</label>
                          <select class="form-control" v-model="ville_id">
                            <option
                              v-for="ville in villes"
                              v-bind:key="ville.id"
                              v-bind:value="ville.id"
                            >{{ville.nom}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleFormControlSelect1">Categorie</label>
                          <select class="form-control" v-model="category_id">
                            <option
                              v-for="categorie in categories"
                              v-bind:key="categorie.id"
                              v-bind:value="categorie.id"
                            >{{categorie.nom}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <button
                      type="submit"
                      class="btn btn-primary pull-right"
                      @click="ajouter"
                    >Ajouter</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "Nouveau",
  data() {
    return {
      villes: [],
      categories: [],
      title: "",
      description: "",
      prix: "",
      user_id: "",
      ville_id: "",
      category_id: ""
    };
  },
  methods: {
    ajouter() {
      let productTmp = {
        produit: {
          title: this.title,
          description: this.description,
          prix: this.prix,
          user_id: JSON.parse(localStorage.getItem("Item")).id,
          ville_id: this.ville_id,
          category_id: this.category_id
        }
      };
      //console.log(productTmp);
      axios.post('http://localhost:3000/produit',productTmp)
      .then(res => console.log(res))
      .catch(err => console.log(err));
      this.$router.go();
    },
    logout(){
      localStorage.removeItem('Item');
      this.$router.push('login');
    }
  },
  mounted() {
    if (localStorage.getItem("Item") === null) {
      this.$router.push("login");
    }
    axios
      .get("http://localhost:3000/ville")
      .then(res => {
        this.villes = JSON.parse(JSON.stringify(res.data));
        //console.log(this.villes.forEach(item => console.log(item.id)));
      })
      .catch(err => console.log(err));

    axios
      .get("http://localhost:3000/category")
      .then(res => {
        this.categories = JSON.parse(JSON.stringify(res.data));
        //console.log(this.categories.forEach(item => console.log(item.id)));
      })
      .catch(err => console.log(err));
  }
};
</script>

<style>
</style>
