<template>
  <div class="container">
    <div class="row">
    <Barre />
    <Content />
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Navbar from '@/components/Navbar.vue'
import Barre from '@/components/acceuil/Barre.vue'
import Content from '@/components/acceuil/Content.vue'

export default {
  name: 'home',
  components: {
    Navbar,
    Barre,
    Content
  }
}
</script>
