<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <router-link to="/" class="nav-brand">Avito Clone</router-link>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <router-link to="/produits" class="nav-link">Recherche</router-link>
          </li>
          <li class="nav-item">
            <router-link to="/signup" class="nav-link">Sign up</router-link>
          </li>
          <li class="nav-item">
            <router-link to="/login" class="nav-link">Log in</router-link>
          </li>
          <li class="nav-item">
            <router-link to="/dashboard" class="nav-link">Mon espace</router-link>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: "Navbar"
};
</script>

<style>
</style>
